body{
	background-color: gray;
}
img {
	max-width: 100%;
}
h1{
	text-align: center;
}
.jumbotron{
	background-color: navy;
	color: white;
}
p{
	color: white;
}
.col-xs-12, .col-md-3{
	padding-left: 0px;
	padding-right: 0px;
}